.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-width: 30vw;
  height: 5vh;
}

.time-container {
  height: 22vh;
  flex-direction: column;
}
.color-container {
  height: 10vw;
 }

.time-container,
.color-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 10vh;
  background-color: #487BA0;
}

.clock {
  width: 250px;
}

.time {
  height: 60px;
  font-size: 400%;
}
.timer {
  text-align: center;
}

button:hover,
button:hover,
.color:hover {
  cursor: pointer;
}

.color {
  width: 60px;
  height: 40px;
  margin: 0 10px;
}

.green {
  background-color: #39D1B4;
}

.blue {
  background-color: #487BA0;
}

.red {
  background-color: #D84A51;
}
